.div_chall_1 {
    display:block;
}

#text {
    display:block;
    margin:20px auto;
}
.button_submit {
    display:block;
    margin:0 auto;
}
.errorChild {
    border:1px solid red;
    display:block;
    margin-top:20px;
}
.successDiv {
    position:absolute;
    right:10px;
    top:10px;   
}

.successMessage {
    display:none;   
    border-radius:10px;
    padding:15px;
    color:white;
    font-size:14pt;
    background: #9dd53a; /* Old browsers */
    background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 29%, #80c217 68%, #7cbc0a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 29%,#80c217 68%,#7cbc0a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #9dd53a 0%,#a1d54f 29%,#80c217 68%,#7cbc0a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
}

.div_chall_2 {
    display:none;
}

.Red {
    background-color:red;
}

.Green {
    background-color:green;
}

.press {
    height: 100px;
}

.PressMe {
    margin: 0 auto;
    display: block;
    margin-top: 30px;
}

.counter {
    margin-top:15px;
}
.div_chall_3 {
    display:none;
}

ul {
    list-style-type:none;
}
li {
    padding-left:15px;
}

.button_block {
    margin-top:20px;
    margin-bottom:20px;
}

.navigation-left {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    padding: 0px 20px;
    font-size: 30px;
    opacity: 0.3;
    background-color:#c6c2c2;
}

.navigation-right {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0px 20px;
    font-size: 30px;
    opacity: 0.3;
    background-color:#c6c2c2;
}

.navig_button {
    top:50%;
}
.navigation-left:hover, .navigation-right:hover {
    opacity: 0.8;
    -moz-transition: opacity,1s;
    -o-transition: opacity,1s;
    -webkit-transition: opacity,1s;
    transition: opacity,1s;
}